# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Last-Robot.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sabin\Documents\Unity\CS404\Last-Robot\.idea\.idea.Last-Robot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
